{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="text-center">Employé {{ employe.fullname }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom entier</th>
            <th>Date de naissance</th>
            <th>Email</th>
            <th>Service</th>
            <th>Salaire</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ employe.fullname }}</td>
            <td>{{ employe.birthdate | date('d/m/Y') }}</td>
            <td>{{ employe.email }}</td>
            <td>{{ employe.service.name }}</td>
            <td>{{ employe.salaire }} €</td>
        </tr>
        </tbody>
    </table>

{% endblock %}

